* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #406;
}

img {
  padding-left: 1.5rem;
}

.App {
  font-family: sans-serif;
  text-align: center;
  color: #fff;
  height: 100vh;
  padding: 20px;
}
